#pict1{
    background-image:url('./img/spiderman.jpeg') ;
}
#pict2{
    background-image: url('./img/theFlash.jpg');
}
#pict4{
    background-image: url('./img/johnWick4.jpeg');
}
#pict3{
    background-image: url('./img/arcane.jpg');
}