#pict1{
    background-image: url(./img/batman.jpg);
}
#pict2{
    background-image: url(./img/spiderman.jpeg);
}
#pict3{
    background-image: url(./img/theBoys.jpg);
}
#pict4{
    background-image: url(./img/arcane.jpg);
}
#pict5{
    background-image: url(./img/walle.jpg);
}